*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Rubik, Georgia, 'Times New Roman', Times, serif;
}


h1{
    font-family: "Archivo black";
    font-size: 3rem;
    color:#4d4d4d;
}

h2{
    font-family: "Montserrat";
}

header{
    position: sticky;
    top: 0px;
    background-color: #0238c1;
    z-index: 2;
}

.header__logo{
    width: 100px;
    height: auto;
}

.navbar__page-link{
    border-radius: 15px;
    background-color: #000000;
    color:#EFA00B;
    font-size: 1.2rem;
    text-align: center;
}

.navbar__page-link:focus{
    color: #EFA00B;
}

.navbar__page-link:hover{
    background-color: #272727;
    color: #EFA00B;
}

main{
    text-align: center;
}

@media screen and (min-width:1024px) {
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 3rem;
    }
}


/* INDEX STYLES */
/* MOBILE */

.index-title-div{
    border-bottom: 1px #07004D solid;
    text-align: center;
}

.index-title-div__title{
    font-family: 'Montserrat';
    font-size: 4rem;
    text-decoration: underline;
}

.index-main-section{
    background-image: url(../images/background-inicio-16-9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: left;
    font-weight: 700;
    gap: 10px;
}

.index-main-section-caja{
    background-color: rgba(245, 245, 245, 0.75);
    border-radius: 10px;
    padding: 10px;
}

.index-main-section-caja__titulo{
    text-align: center;
}

/* estilos tablet */

@media screen and (min-width:768px) {
    .index-main-section-caja{
        width: 70vw;
        font-size: 1.2rem;
    }
    .index-main-section-caja__titulo{
        font-size: 2.5rem;
    }
}

/* estilos desktop */

@media screen and (min-width:1024px) {
    .index-main-section{
        flex-direction: row;            
    }
    
    .index-main-section-caja{
        min-height: 475px;
        font-size: 1.3rem;
    }
    .index-main-section-caja__titulo{
        font-size: 2.5rem;
    }
}


/* DSTINOS STYLES */
/* estilos de promos nacionales */

.dest-promos-nacionales__title{
    background-image: url(../images/ciudad-noche.jpg);
    background-size:cover;
}
.dest-promos-nacionales__title--desktop{
    display: none;
}

@media screen and (min-width:992px){
    .dest-promos-nacionales__title{
        display: none;
    }
    .dest-promos-nacionales__title--desktop{
        display: block;

    }
}

.dest-promo-card__precio{
    font-size:0.75rem;
    font-weight: 900;
    color:rgb(40, 130, 40);
}

.dest-promo-card__precio--viejo{
    text-decoration: line-through;
    color:red
}

.dest-promo-card__btn{
    background-color: whitesmoke;
}

/* estilos destinos internacionales */

.dest-inter__div-titulo{
    height: 25vh;
    position: relative;
}


.dest-inter__img-titulo{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 50%;
    z-index: 0;
}

.dest-inter__titulo{
    position: absolute;
    top: 0px;
    z-index: 0;
}

.dest-inter__carousel{
    border: 1px rgb(201, 201, 201) solid;
    border-radius: 15px;
}

.dest-inter__img-div{
    height: 30vh;
}

.dest-inter__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

@media screen and (min-width:992px){
    .dest-inter__div-titulo{
        height: 50vh;
        border-radius:10px;
    }

    .dest-inter__img-titulo{
        border-radius: 10px;
    }
    .dest-inter__img-div{
        height: 50vh;
    }
}
/* STYLES ALIANZAS */

.alz-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap:10px;
}

.alz-section__parrafo{
    text-align: left;
    margin:10px;
}

.alz-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    gap:5px;
    width: 90vw;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
    background-color: #F4F3EE;
}

.alz-card__img-div{
    border-radius: 20px;
    width: 100%;
    height: 30vh;
}

.alz-card__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.alz-card__nombre{
    position: absolute;
    top: 10%;
    left: 9%;
    color: white;
    z-index: 1;
}


@media screen and (min-width:1024px){
    .alz-card__nombre{
        left:3%;
    }

    .alz-card{
        width: 55vw;
        justify-content: space-between;
    }

    .alz-card__img-div{
        height: 30%;
        width: 30%;
    }

    .alz-card__div-lista{
        width: 50%;
        align-self:center;
    }
}

/* STYLES GALERIA */

.pictures > div{
    height: 300px;
    margin: 10px 0px 10px 0px;
    width: 60vw;
    position: relative;
    left: 20vw;
    overflow: hidden;
}

main.galeria img{
    position:absolute;
}

main.galeria img.left{
    left:0px;
}

main.galeria img.right{
    right:0px;
}

.image-square{
    width: 300px;
    height: auto;
}

.image-landscape{
    width: 520px;
    height: auto;
}

.image-portrait{
    height: 300px;
    width: auto;
}

/* STYLES NOSOTROS */

.text-card{
    width: 50vw;
    position: relative;
    left: 25vw;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
    background-color: #F4F3EE;
}

.text-card > h2{
    text-align: left;
}

/* STYLES FOOTER */
/* EStilos mobile */
.footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "direccion privacidad"
    "telefono social"
    "email social";
    justify-items: start;
    align-items: center;
    gap: 20px;
    margin:10px;
}

.footer__direccion{
    grid-area: direccion;
}
.footer__telefono{
    grid-area: telefono;
}
.footer__email{
    grid-area:email;
}

.footer__privacidad{
    grid-area: "privacidad";
    justify-self: end;
    text-align: end;
}

.footer__social{
    grid-area:"social";
    justify-self: end;
    align-self: end;
}