@import "common";

@mixin alianzas{
    .alianzas{
        .section{
            @include flex-col(center, center);
            margin: $medium-margin;
            gap:10px;
            
            .parrafo{
                text-align: left;
                margin:$medium-margin;
                font-weight: 500;
            }
    
            .my-card{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: relative;
                gap:$small-gap;
                width: 90vw;
                border-radius:$large-border-radius;
                padding: $medium-padding;
                text-align: left;
                background-color: $bg-white-pop;
                
                .img-div{
                    border-radius: $large-border-radius;
                    width: 100%;
                    height: 30vh;
    
                    .img{
                        @extend %img-cover;
                        border-radius: $large-border-radius;
                    }
                    .nombre{
                        position: absolute;
                        top: 10%;
                        left: 9%;
                        color: $text-white;
                        z-index: 1;
                    }
                }
            }
        }
    
        // estilos tablet
    
        @media screen and (min-width:768px) {
            .section{
                .my-card{
                    width: 85vw;
                    justify-content: space-between;
    
                    .img-div{
                        height: 30%;
                        width: 30%;
                        
                        .nombre{
                            left:2%;
                            font-size: $medium-heading;
                        }
                    }
                    .div-lista{
                        align-self:center;
                    }
                }
            }
        }
    
        // estilos desktop
        @media screen and (min-width:1024px){
            .section{
                .my-card{
                    width: 55vw;
    
                    .img-div{
                        .nombre{
                            left:3%;
                        }
                    }
                    
                    .div-lista{
                        width: 50%;
                    }
                }
            }
        }
    }
}