%flex-col{
    display: flex;
    flex-direction: column;
}

// colores

$bg-black-selected : #4e4e4e;
$text-yellow:#EFA00B;
$bg-blue:#0238c1;
$bg-black:#000000;

// bordes

$default-border-radius: 15px;