@import "common";

@mixin destinos{
    .dest-main{
        // promos nacionales
        .promos-nacionales{
            .title{
                background-image: url(../images/ciudad-noche.jpg);
                background-size:cover;
            }
            .title--desktop{
                display: none;
            }
        }
        
        .promo-card{
            .precio{
                font-size:$small-font-size;
                font-weight: 900;
                color:$text-green;
            }
            
            .precio--viejo{
                text-decoration: line-through;
                color:$text-red;
            }
            
            .btn-mas-info{
                background-color: $bg-white;
            }
        }
        
        
        // destinos internacionales
        .internacional{
            .div-titulo {
                height: 40vh;
                position: relative;
            }
            
            .img-titulo{
                @extend %img-cover;
                object-position: 0% 50%;
                z-index: 0;
            }
            
            .titulo{
                position: absolute;
                top: 0px;
                z-index: 0;
            }
            
            .carousel-destinos{
                border: 1px rgb(201, 201, 201) solid;
                border-radius: $big-border-radius;
                
                .img-div{
                    height: 30vh;
                }
                
                .img{
                    @extend %img-cover;
                    object-position: 50% 50%;
                    border-radius: $big-border-radius;
                    padding: $small-padding;
                }
            }   
        }
    
        // estilos tablet
        @media screen and (min-width:768px){
            .promos-nacionales{
                .title{
                    background-position: 0% 30%;
                    min-height: 50vh;
                }
            }
            .internacional{
                .img-titulo{
                    border-radius: $big-border-radius;
                }
            }
        }
    
        // estilos desktop
        @media screen and (min-width:992px){
            .promos-nacionales{
                .title{
                    display: none;
                }
                .title--desktop{
                    display: block;
                    border-radius: $big-border-radius;
                }
            }
            
            .internacional{
                .div-titulo{
                    height: 50vh;
                }
                
                .carousel-destinos{
                    .img-div{
                        height: 50vh;
                    }
                    
                    .img{
                        border-radius: $big-border-radius;
                        padding: $medium-padding;
                    }
                }
            }
        }
            
    }
    
}