@import "common";

@mixin galeria{
    .gal-title-div__title{
        text-align: center;
    }
    
    .gal-main{
        display:flex;
        justify-content: center;
    
        .section{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(10, 1fr);
            row-gap: $medium-gap;
            
            .img-div{
                width: 100%;
                height: 100%;
    
                .img{
                    @extend %img-cover;
                }
            }
        }
        // estilos tablet
        @media screen and (min-width:768px) {
            .section{
                column-gap: $medium-gap;
                background-color: rgb(239, 239, 239);
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(5, 1fr);
                width:80vw;
                justify-items: center;
                align-items: center;
                padding:$medium-padding;
                border-radius: $big-border-radius;
            
                .img-div{
                    height: 70%;
                    .img{
                        border-radius: $big-border-radius;
                    }
                }
    
                .img-div:nth-child(4n+1){
                    justify-self: start;
                }
            
                .img-div:nth-child(4n){
                    justify-self: end;
                }
            
                .img-div:nth-child(4n+1), .img-div:nth-child(4n){
                    height: 100%;
                    width: 70%;
                }
            }
            
        }
    
        // estilos desktop
        @media screen and (min-width:1024px) {
            .section{
                width: 70vw;
    
                .img-div:nth-child(4n+1), .img-div:nth-child(4n){
                    width: 50%;
                }
            }
        }
    }
    
}