@import "common";
@import "animaciones";


@mixin index{
    .index-main{
        .title-div{
            border-bottom: 1px #07004D solid;
            text-align: center;
        }
        .section{
            @include flex-col(center,auto);
            background-color:$bg-black;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-align: left;
            font-weight: 700;
            gap: $medium-gap;
        }
        
        .article{
            width: 100%;
            background-size: 100%;
            text-align: justify;
        }
        
        .article:nth-child(1){
            background-position: 0% 50%;
            background-image: url(../images/playa.jpg);
            @include entarPorLado(izquierda);
        }
    
        .article:nth-child(2){
            background-image: url(../images/ciudad-noche.jpg);
            background-size: cover;
            @include entarPorLado(derecha);
        }
        
        .article:nth-child(3){
            background-image: url(../images/new-york.jpg);
            @include entarPorLado(izquierda);
        }
        
        .article__titulo{
            text-align:center;
        }
        
        .article__content{
            padding: $medium-padding;
            text-shadow:#ffffff 2px 2px 5px;
        }
        
        // estilos tablet
        @media screen and (min-width:768px) {
            .article{
                min-height: 300px;
                font-size: $big-font-size;
            }
            .article__titulo{
                font-size: $big-heading;
            }
            .article:nth-child(1){
                background-position: 0% 30%;
            }
            .article:nth-child(3){
                background-position: 0% 20%;
            }
        }
    
        /* estilos desktop */
        
        @media screen and (min-width:1024px) {
            .article{
                display: flex;
                flex-direction: column;
                align-items: start;
                font-size: $big-font-size;
            }
            
            .article__content{
                max-width: 40%;
            }
            .article:nth-child(2){
                align-items: end;
            }
        
            .article:nth-child(3){
                background-position: 0% 20%;
            }
        
            .article{
                min-height: 475px;
            }
        }
    }
    
}

