@import "common";
@import "animaciones";

@mixin nosotros{
    .nosotros-wraper{
        @include flex-col(center, center);
        .section{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3;
            row-gap: 10px;
    
            .text-card{
                background-color: #F4F3EE;
                padding: $large-padding;
                border-radius: $large-border-radius;
            }
    
            .text-card:nth-child(1){
                @include entarPorLado(izquierda);
            }
            .text-card:nth-child(4){
                @include entarPorLado(derecha);
            }
            .text-card:nth-child(5){
                @include entarPorLado(izquierda);
            }
    
            .relleno{
                display: none;
            }
        }
        @media screen and (min-width:768px) {
            .section{
                width: 80vw;
            }
        }
        
        // estilos desktop
        @media screen and (min-width:1024px){
            .section{
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: 3;
                gap: $large-gap;
                width: 90vw;
    
                .relleno{
                    display: block;
                }
            }
        
        }
    }
}