@import "common";
@import "animaciones";
@import "index";
@import "destinos";
@import "galeria";
@import "alianzas";
@import "nosotros";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// estilos globales

h1{
    font-family: "Archivo black";
    font-size: $large-heading;
    color:$text-grey;
    text-align: center;
}

.texto-destacado{
    background-color: $bg-transparent-white;
    border-bottom-right-radius: $large-border-radius;
    padding: $small-padding;
    color: $text-organge;
}

body{
    font-family: Rubik, Georgia, 'Times New Roman', Times, serif;
}


h2{
    font-family: "Montserrat";
}

//estilos header
header{
    position: sticky;
    top: 0px;
    background-color: $bg-blue;
    z-index: 2;

    .logo{
        width: 100px;
        height: auto;
        border-radius: $medium-border-radius;
    }

    .navbar__page-link{
        border-radius: $big-border-radius;
        background-color: $bg-black;
        color:$text-yellow;
        font-size: $big-font-size;
        text-align: center;
        &:hover{
            background-color: $bg-black-selected;
            color: $text-yellow;
        }
        &:focus{
            color: $text-yellow;
        }
    }
    @media screen and (min-width:1024px) {
        .logo{
            border-radius: $big-border-radius;
        }
    }
}

// Estilos index
@include index;

// estilos destinos
@include destinos;

//estilos alianzas
@include alianzas;


// estilos galeria
@include galeria;

// estilos nostros
@include nosotros;

// estilos footer
.footer{
    background-color: #8ecae6;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "direccion privacidad"
    "telefono social"
    "email social";
    justify-items: start;
    align-items: center;
    gap: $large-gap;
    padding: $medium-padding;
    
    .direccion{
        grid-area: direccion;
    }
    .telefono{
        grid-area: telefono;
    }
    .email{
        grid-area:email;
    }
    
    .privacidad{
        grid-area: "privacidad";
        justify-self: end;
        text-align: end;
    }
    
    .social{
        grid-area:"social";
        justify-self: end;
        align-self: end;
    }
}



